/* ---------
IMPORTS CODE
------------ */
@import url('css/site-navigation.css'); /* NAVIGATION */
@import url('css/home-header.css'); /* HOME HEADER */

/* ---------
MAIN
------------ */

@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Francois+One&family=Fugaz+One&family=Hammersmith+One&family=Lexend:wght@100..900&display=swap');

* {
  font-family: "Francois One", sans-serif;
}

body {
  background-color: #e1d4c2;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #282119;
}

h1 {
  font-weight: 600;
}

p {
  font-family: "Lexend", sans-serif;
}

.container {
  
}
